* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

h2 {
  color: #FC4A1A;
}

h3 {
  color: #FC4A1A;
}

.loader {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  background-color: white;
  z-index: 11;
  transition: 0.5s;
}
.loader .spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.loader .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #4ABDAC;
  }
  25% {
    stroke: #FC4A1A;
  }
  50% {
    stroke: #F7B733;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.hamburger {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #FC4A1A;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  cursor: pointer;
}
.hamburger .stick {
  width: 40px;
  height: 4px;
  background-color: white;
  position: absolute;
}
.hamburger .stick::before, .hamburger .stick::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: white;
  position: absolute;
  transition: 0.4s;
}
.hamburger .stick::before {
  transform: translateY(-12px);
}
.hamburger .stick::after {
  transform: translateY(12px);
}

.cont-menu {
  width: 0px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
  background-color: #FC4A1A;
  transition: 0.5s;
}

.hamburger .hamburger-active .stick {
  background-color: #FC4A1A;
}
.hamburger .hamburger-active .stick::before {
  transform: translateY(0px) rotate(45deg);
}
.hamburger .hamburger-active .stick::after {
  transform: translateY(0px) rotate(-225deg);
}

.cont-menu-active {
  width: 300px;
}

.footer {
  background: #FC4A1A !important;
  height: 200px;
  color: white;
}

/*# sourceMappingURL=general.css.map */
