
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

$colorFresh: #4ABDAC;
$colorVermillion: #FC4A1A;
$colorSunchine: #F7B733;


@mixin  centrado {
    justify-content: center;
    align-items: center;
    display: flex;
}


h2{
    color: $colorVermillion;
}

h3{
    color : $colorVermillion;
}

.loader{
    width: 100vw;
    height: 100vh;
    @include centrado();
    position: fixed;
    background-color: white;
    $offset: 187;
    $duration: 1.4s;
    z-index: 11;
    transition: 0.5s;
    .spinner {
    animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
    }

    .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash $duration ease-in-out infinite, 
        colors ($duration*4) ease-in-out infinite;
    }

    @keyframes colors {
        0% { stroke: $colorFresh; }
        25% { stroke: $colorVermillion; }
        50% { stroke: $colorSunchine; }
        75% { stroke: #1B9A59; }
        100% { stroke: #4285F4; }
    }

    @keyframes dash {
        0% { stroke-dashoffset: $offset; }
        50% {
            stroke-dashoffset: $offset/4;
            transform:rotate(135deg);   
        }
        100% {
            stroke-dashoffset: $offset;
            transform:rotate(450deg);
        }
    }   

}

.hamburger{
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: $colorVermillion;
    @include centrado();
    z-index: 10;
    cursor: pointer;
    .stick{
        width: 40px;
        height: 4px;
        background-color: white;
        position: absolute;


        &::before, &::after{
            content: "";
            width: 40px;
            height: 4px;
            background-color: white;
            position: absolute;
            transition: 0.4s;
        }

        &::before{
            transform: translateY(-12px);
        }

        &::after{
            transform: translateY(12px);
        }

        
    }
}


.cont-menu{
    width: 0px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: $colorVermillion;
    transition: 0.5s;
    
}


.hamburger .hamburger-active{
    .stick{
        background-color: $colorVermillion;
        
        &::before{
            transform: translateY(0px) rotate(45deg);
        }
    
        &::after{
            transform: translateY(0px) rotate(-225deg);
        }
    }
}


.cont-menu-active{
    width: 300px;
}


.footer{
    background: $colorVermillion !important;
    height: 200px;
    color: white;
}