@import 'general';

.container{
    padding-top: 90px !important;
    .row{
        
            .box-content{
                margin-top: 33px;
                .imgRazas{
                    margin-top: 20px;
                    height: 0px;
                    width: 100%;
                    background-size: cover !important;
                    transition: 0.2s;
                    transform: translate(0, 23px)
                    

                    //background:  -webkit-gradient(top, rgba(0,0,0,0.3),red) ; // FF 3.6+
 
                }
                .link{  
                    color: $colorFresh;
                    width: 80%;   
                    float: left; 
                    
                }

                span{
                    float: right;
                    width: 20%;
                    color: $colorFresh;
                    transition: 0.3s;
                    text-align: right;
                }
            }


            .box-content:hover{
                .imgRazas{
                    height: 400px;

                    span{
                    transform: rotate(90deg) !important;
                    }
                   
                }
            }
        
    }
}